html, body {
  width: 100%;
  min-height: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: black;
  -webkit-font-smoothing: antialiased;
}

.showMe {
  background-color: black;
  color: #4E5054;
  display: none;
  position: absolute;
  padding-left: 1%;
  margin-left: 50.2%;
  width: 182px;
  height: 69px;
  margin-top: 1.7%;
  z-index: 10000;
  font-family: josefin sans;
  font-size: 17px;
  position: fixed;
  border: 1px solid gray;
}

.showMe3 {
  margin-top: 3.5%;
}

.lin {
  color: white;
  text-decoration: none;
}

.rese {
  background-color: black;
  color: #4E5054;
  position: absolute;
  padding-left: 1%;
  margin-left: 32.6%;
  width: 144px;
  height: 66px;
  margin-top: 1.7%;
  z-index: 10000;
  font-family: josefin sans;
  font-size: 17px;
  display: none;
  position: fixed;
  border: 1px solid gray;
}

.reservation1{
  margin-top: 4%;

}

nav {
  width: 100%;
  height: auto;
  color: white;
  background-color: black;
  padding-top: 0%;
  padding-bottom: 0%;
  position: fixed;
  z-index: 10000;
  margin-top: -2%;
}

.navLink {
  font-family: teko;
  text-decoration: none;
  float: right;
  font-size: 1.3vw;
  text-decoration: none;
  color: white;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 1.5%;
  padding-bottom: 1%;
  letter-spacing: 0.2vw;
  display: none;
}

.navLink:hover {
  color: #777777;
}

.MainPhoto {
  width: 100%;
  height: auto;
}

.blackDiv {
  background-color: rgba(0, 0, 0, 0.58);
  width: 100%;
  padding-bottom: 58.7%;
  margin-top: -59%;
  position: absolute;
}

.MainLogo {
  width: 33.3%;
  margin-bottom: 37%;
  margin-top: -56.8%;
  margin-left: 32.9%;
  position: relative;
  display: none;
  z-index: 1000;
}

.big {
  color: #777777;
  font-family: cinzel;
  font-size: 2vw;
  margin-top: -13.3%;
  margin-left: 31%;
  position: absolute;
  display: none;
}

.small {
  color: #777777;
  font-family: cinzel;
  margin-top: -10.3%;
  margin-left: 46%;
  font-size: 1.5vw;
  position: absolute;
  display: none;
}

.mainDiv {
  width: 90%;
  background-color: #C5C5C5;
  margin-left: 5%;
  margin-top: -1%;
  padding-top: 1.1%; 
  padding-bottom: 4%;
}

#top {
  margin-top: -0.9%;
  border: none;
}

#line1 {
  background-color: white;
  margin-bottom: 8%;
  border: none;
}

#line2 {
  background-color: white;
  margin-bottom: 8%;
  border: none;

}

#line3 {
  background-color: white;
  margin-bottom: 8%;
  border: none;
}

#line4 {
  background-color: white;
  margin-bottom: 8%;
  border: none;
}

.aboutUs {
  width: 80%;
  margin-left: 8%;
  margin-top: 5%;
  margin-bottom: 15%;
  border: 2vw solid rgb(255, 255, 255);
  box-shadow: 0vw 0vw 2vw 1vw rgb(229, 229, 229); 
}

.who {
  font-size: 2.8vw;
  font-family: cinzel;
  margin-bottom: 0%;
  margin-top: 9%;
  position: absolute;
  margin-left: 36.2%;
}

.who2 {
  text-align: center;
  width: 60%;
  height: auto;
  font-size: 1.5vw;
  margin-left: 11.2%;
  position: absolute;
  margin-top: 14%;
  font-family: playfair display sc;
  line-height: 3.9vw;
  background-color: rgba(197, 197, 197, 0.66);
  padding-left: 4%;
  padding-right: 3.6%;
  border: .2vw solid black;
}

/*FLEET CSS*/

.fleetTitle {
  color: white;
  font-family: cinzel;
  font-size: 4vw;
  margin-top: -13%;
  margin-left: 4%;
  margin-bottom: 6%;
}

.fleetDiv {
  width: 73%;
  height: auto;
  margin-left: 8.6%;
  background-color: #E1E1E1;
  padding-left: 1%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 2vw solid white;
  box-shadow: 0vw 0vw 2vw 1vw rgb(229, 229, 229);
}

.fleetDiv2 {
  background-color: #CBCBCB;
  height: 0;
  width: 100%;
  margin-left: 2.6%;
  margin-top: 2.3%;
  padding-bottom: 250%;
  border: solid black 0.2vw;
}

.vehicleTitle {
  text-align: center;
  font-family: cinzel;
  text-decoration: underline;
  margin-bottom: -1%;
  font-size: 2vw;
}

.photoSpace {
  width: 50%;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 3%;
  margin-bottom: 1%;
  float: left;
  border: 0.2vw solid black;
}

.vehicleDescription {
  background-color: white;
  width: 91.8%;
  float: left;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.vehicles {
  letter-spacing: 0.1vw;
  font-family: Josefin sans;
  font-size: 1.5vw;
  margin-top: 2%;
  margin-bottom: 2%;
}

/*END OF FLEET CSS*/
/*SERVICES */

.fleetDiv3 {
  background-color: #CBCBCB;
  height: 0;
  width: 100%;
  margin-left: 2.6%;
  margin-top: 2.3%;
  padding-bottom: 125%;
  border: solid black 0.2vw;
}

.serviceTitle {
  text-align: center;
  font-family: cinzel;
  font-size: 3vw;
}
.pricing {
  text-align: center;
  font-family: archivo narrow;
  font-size: 2.2vw;
  margin-top: 0.7%;
  font-style: italic;
  margin-bottom: -0.3%;
}

.serviceDiv {
  background-color: #F9F9F9;
  width: 68%;
  margin-left: 13%;
  padding-top: 0.5%;
  padding-left: 2.5%;
  padding-bottom: 0%;
  padding-right: 2.5%;
  border: .1vw solid black;
}

.type {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0%;
  margin-top: 1%;
  font-family: teko;
  text-align: center;
  font-size: 2vw;
}

.stock {
  width: 100%;
  margin-bottom: 3%;
  margin-top: -4%;
}

.contactImg {
  width: 100%;
}

.blackDiv2 {
  width: 70%;
  height: 0;
  padding-bottom: 30%;
  background-color: rgba(0, 0, 0, 0.84);
  margin-top: -37.3%;
  margin-left: 13%;
  position: absolute;
  border: 2vw solid black;
}

.testHide {
  color: #383838;
  margin-bottom: 40%;
  margin-top: -41%;
  margin-left: 41.4%;
  font-family: josefin sans;
  font-size: 1.6vw;
}

.contacth2 {
  color: #C5C5C5;
  font-size: 4vw;
  margin-left: 12.7%;
  margin-right: 2%;
  margin-top: 17%;
  font-family: teko;
  float: left;
}

.brace {
  width: 40.5%;
  margin-top: 1.6%;
  margin-left: -23%;
  float: left;
}

.contactDiv {
  background-color: rgba(255, 255, 255, 0.4);
  width: 43.1%;
  margin-top: 1.5%;
  margin-left: 48.7%;
  border: 0.9vw solid gray;
}

.phone {
  width: 93%;
  padding-top: 3%;
  padding-left: 3%;
}

.phone2 {
  margin-left: 22%;
  margin-top: -14.9%;
  font-size: 1.5vw;
  font-family: josefin sans;
}

.mail {
  width: 93%;
  padding-left: 3%;
  padding-top: 11%;
}

.mail2 {
  margin-left: 21%;
  margin-top: -12%;
  font-size: 1.5vw;
  font-family: josefin sans;
  text-decoration: none;
}

.mailLink{
  text-decoration: none;
  color: black;
}

.mailLink:hover{
  color: white;
}

.facebook {
  width: 93%;
  padding-left: 3%;
  padding-top: 13%;
}

#facebook2 {
  margin-left: 21%;
  margin-top: -14.3%;
  font-size: 1.5vw;
  font-family: josefin sans;
  padding-bottom: 2.5%;
}

#footerImage {
  width: 16%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
}




/*//////////////////////////////////////////////
////////////////////////////////////////////////
//////////////M E D I A  Q U E R Y /////////////
////////////////////////////////////////////////
//////////////////////////////////////////////*/

@media (max-width:1000px) {

  html, body {
  width: 100%;
  min-height: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: black;
}

.showMe {
  background-color: black;
  color: #4E5054;
  display: none;
  position: absolute;
  padding-left: 1%;
  margin-left: 53.2%;
  width: 182px;
  height: 68px;
  margin-top: 2.7%;
  z-index: 10000;
  font-family: josefin sans;
  font-size: 17px;
  position: fixed;
  border: 1px solid gray;
}

.lin {
  color: white;
  text-decoration: none;
}

.showMe3 {
  margin-top: 3.5%;
}

.rese {
  background-color: black;
  color: #4E5054;
  position: absolute;
  padding-left: 1%;
  margin-left: 76.8%;
  width: 144px;
  height: 66px;
  margin-top: 2.7%;
  z-index: 10000;
  font-family: josefin sans;
  font-size: 17px;
  display: none;
  position: fixed;
  border: 1px solid gray;
}

.reservation1{
  margin-top: 4%;

}

nav {
  width: 100%;
  height: auto;
  color: white;
  background-color: black;
  padding-top: 6%;
  padding-bottom: 0%;
  position: fixed;
  z-index: 10000;
  margin-top: -9%;
}

.navLink {
  font-family: teko;
  text-decoration: none;
  font-size: 3.3vw;
  float: left;
  text-decoration: none;
  color: white;
  padding-right: 2%;
  padding-left: 2%;
  margin-left: 0.2%;
  padding-top: 1.5%;
  padding-bottom: 1%;
  letter-spacing: 0.1vw;
  display: none;
}

.navLink:hover {
  color: #777777;
}

.MainPhoto {
  width: 100%;
  height: auto;
  display: none;
}

.blackDiv {
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin-top: 4%;
  padding-bottom: 60%;
}

.MainLogo {
  width: 50.3%;
  margin-top: 15.2%;
  margin-left: 24.7%;
  position: absolute;
}

.big {
  color: #777777;
  font-family: cinzel;
  font-size: 4vw;
  margin-top: 52.7%;
  margin-left: 10%;
  position: absolute;
  display: none;
}

.small {
  color: #777777;
  font-family: cinzel;
  margin-top: 57.7%;
  margin-left: 45%;
  font-size: 3.5vw;
  position: absolute;
  display: none;
}

.mainDiv {
  width: 90%;
  background-color: #C5C5C5;
  margin-left: 5%;
  margin-top: -1%;
  padding-top: 1.1%; 
  padding-bottom: 4%;
}

#top {
  margin-top: -0.9%;
  border: none;
}

#line1 {
  background-color: white;
  margin-bottom: 5%;
  border: none;
  margin-top: 69%;
}

#line2 {
  background-color: white;
  margin-bottom: 8%;
  border: none;

}

#line3 {
  background-color: white;
  margin-bottom: 8%;
  border: none;
}

#line4 {
  background-color: white;
  margin-bottom: 8%;
  border: none;
}

.aboutUs {
  width: 90%;
  margin-left: 2.8%;
  margin-top: 8%;
  margin-bottom: 15%;
  border: 2vw solid rgb(255, 255, 255);
  box-shadow: 0vw 0vw 2vw 1vw rgb(229, 229, 229);
}

.who {
  font-size: 3.7vw;
  font-family: cinzel;
  margin-bottom: 0%;
  margin-top: 11.9%;
  position: absolute;
  margin-left: 34.2%;
}

.who2 {
  text-align: center;
  width: 71.6%;
  height: auto;
  font-size: 2.1vw;
  margin-left: 5.2%;
  position: absolute;
  margin-top: 17.1%;
  margin-bottom: 29%;
  font-family: playfair display sc;
  line-height: 3.9vw;
  background-color: rgb(197, 197, 197);
  padding-left: 4%;
  padding-right: 3.6%;
  border: .2vw solid black;
}

/*FLEET CSS*/

.fleetTitle {
  color: white;
  font-family: cinzel;
  font-size: 7vw;
  margin-top: -13%;
  margin-left: 4%;
  margin-bottom: 6%;
}

.fleetDiv {
  width: 90%;
  height: auto;
  margin-left: 1%;
  background-color: #E1E1E1;
  padding-left: 1%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1vw solid white;
  box-shadow: 0vw 0vw 0vw 0vw rgb(229, 229, 229);
}

.fleetDiv2 {
  background-color: #E1E1E1;
  height: 0;
  width: 106%;
  margin-left: -0.9%;
  margin-top: 2.3%;
  padding-bottom: 284%;
  border: solid black 0;
}

.vehicleTitle {
  text-align: center;
  font-family: cinzel;
  text-decoration: underline;
  margin-bottom: -1%;
  font-size: 3vw;
}

.photoSpace {
  width: 54%;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 3%;
  margin-bottom: 1%;
  float: left;
  border: 0.2vw solid black;
}

.vehicleDescription {
  background-color: white;
  width: 91.8%;
  float: left;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.vehicles {
  letter-spacing: 0.1vw;
  font-family: Josefin sans;
  font-size: 2.5vw;
  margin-top: 2%;
  margin-bottom: 2%;
}

/*END OF FLEET CSS*/
/*SERVICES */

.fleetDiv3 {
  background-color: #C5C5C5;
  height: 0;
  width: 106%;
  margin-left: -0.9%;
  margin-top: 2.3%;
  padding-bottom: 155%;
}

.serviceTitle {
  text-align: center;
  font-family: cinzel;
  font-size: 5vw;
}
.pricing {
  text-align: center;
  font-family: archivo narrow;
  font-size: 2.7vw;
  margin-top: 0.7%;
  font-style: italic;
  margin-bottom: -0.3%;
}

.serviceDiv {
  background-color: #F9F9F9;
  width: 92%;
  margin-left: 1.4%;
  padding-top: 0.5%;
  padding-left: 2.5%;
  padding-bottom: 0.1%;
  padding-right: 2.5%;
  border: .1vw solid black;
}

.type {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0%;
  margin-top: 1%;
  font-family: teko;
  text-align: center;
  font-size: 4vw;
}

.stock {
  width: 100%;
  margin-bottom: 3%;
  margin-top: -4%;
}

.contactImg {
  width: 100%;
}

.blackDiv2 {
  width: 97%;
  height: 0;
  padding-bottom: 45%;
  background-color: rgba(0, 0, 0, 0.84);
  margin-top: -37.3%;
  margin-left: 0%;
  position: absolute;
  border: 2vw solid black;
}

.testHide {
  color: #333333;
  margin-bottom: 39%;
  margin-top: -42.4%;
  margin-left: 34.3%;
  font-family: josefin sans;
  font-size: 2.4vw;
}

.contacth2 {
  color: #C5C5C5;
  font-size: 4vw;
  margin-left: 12.7%;
  margin-right: 2%;
  margin-top: 17%;
  font-family: teko;
  float: left;
}

.brace {
  width: 40.5%;
  margin-top: 1.6%;
  margin-left: -21%;
  float: left;
}

.contactDiv {
  background-color: rgba(255, 255, 255, 0.4);
  width: 43.1%;
  margin-top: 1.5%;
  margin-left: 48.7%;
  border: 0.9vw solid gray;
}

.phone {
  width: 93%;
  padding-top: 3%;
  padding-left: 3%;
}

.phone2 {
  margin-left: 21%;
  margin-top: -15.5%;
  font-size: 2vw;
  margin-bottom: 3%;
  font-family: josefin sans;
}

.mail {
  width: 93%;
  padding-left: 3%;
  padding-top: 11%;
}

.mail2 {
  margin-left: 20.8%;
  margin-top: -12.7%;
  font-size: 2vw;
  font-family: josefin sans;
  text-decoration: none;
}

.mailLink{
  text-decoration: none;
  color: black;
}

.mailLink:hover{
  color: white;
}

.facebook {
  width: 93%;
  padding-left: 3%;
  padding-top: 13%;
}

#facebook2 {
  margin-left: 21%;
  margin-top: -15.3%;
  font-size: 2vw;
  font-family: josefin sans;
  padding-bottom: 2.5%;
}

#footerImage {
  width: 23%;
  margin-top: 11%;
  margin-bottom: 2%;
  margin-left: 7.6%;
}

}



/*//////////////////////////////////////////////
////////////////////////////////////////////////
//////////////M E D I A  Q U E R Y /////////////
////////////////////////////////////////////////
//////////////////////////////////////////////*/

@media (max-width:675px) {

  html, body {
  width: 100%;
  min-height: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: black;
}

header{
  width:100%; 
  background:#1d1f20; 
  height:50px; 
  line-height:50px;
}

.hamburger{
  background-color: #3A3A3A;
  position:fixed;
  width: 100%;
  top:0;
  right:0;
  line-height:45px;
  padding:10px 15px 10px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  margin-top: -2%;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background-color: #3A3A3A;
  width: 100%;
  height: 12.8%;
  margin-top: -1%;
  position: fixed;
  top: 0px;
  right: 0;
  padding: 7px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 100;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:fixed; text-align:center; font-family: teko;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid; font-size: 6vw;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

nav {
  width: 100%;
  height: auto;
  color: white;
  background-color: black;
  position: fixed;
  z-index: 1;
  display: none;
}

.navLink {
  font-family: teko;
  text-decoration: none;
  font-size: 2.3vw;
  text-decoration: none;
  color: white;
  padding-right: 2.2%;
  padding-left: 2%;
  padding-top: 1.5%;
  padding-bottom: 1%;
  letter-spacing: 0.5vw;
}

.navLink:hover {
  color: #777777;
}

.MainPhoto {
  width: 100%;
  height: auto;
  display: none;
}

.blackDiv {
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin-top: -13%;
  padding-bottom: 182%;
}

.MainLogo {
  width: 100%;
  margin-top: 30.2%;
  margin-left: 0;
  position: absolute;
  display: none;
}

.big {
  color: #777777;
  font-family: cinzel;
  font-size: 5vw;
  margin-top: 90%;
  margin-left: 9%;
  position: absolute;
  display: none;
}

.small {
  color: #777777;
  font-family: cinzel;
  margin-top: 98%;
  margin-left: 28%;
  font-size: 4.5vw;
  position: absolute;
  display: none;
}

.mainDiv {
  width: 90%;
  background-color: #C5C5C5;
  margin-left: 5%;
  margin-top: 100%;
  padding-top: 1.1%;
  padding-bottom: 4%;
}

#top {
  margin-top: -0.9%;
  border: none;
}

#line1 {
  background-color: white;
  margin-bottom: 5%;
  border: none;
  margin-top: 69%;
}

#line2 {
  background-color: white;
  margin-bottom: 13%;
  margin-top: 172%;
  border: none;
  position: absolute;

}

#line3 {
  background-color: white;
  margin-bottom: 24%;
  border: none;
}

#line4 {
  background-color: white;
  margin-bottom: 68%;
  border: none;
}

.aboutUs {
  width: 97%;
  margin-left: 2.8%;
  margin-top: 18%;
  margin-bottom: 15%;
  border: 2vw solid rgb(255, 255, 255);
  box-shadow: 0vw 0vw 2vw 1vw rgb(229, 229, 229);
  display: none;
}

.who {
  font-size: 7.7vw;
  font-family: cinzel;
  margin-bottom: 4%;
  margin-top: 34.9%;
  position: absolute;
  margin-left: 20.2%;
}

.who2 {
  width: 80%;
  height: auto;
  font-size: 6.6vw;
  margin-left: 1%;
  position: absolute;
  margin-top: 45.1%;
  margin-bottom: 29%;
  font-family: josefin sans;
  line-height: 6.8vw;
  background-color: rgb(249, 249, 249);
  padding-left: 4%;
  padding-right: 3.6%;
  letter-spacing: 0.4vw;
  border: .2vw solid black;
}

/*FLEET CSS*/

.fleetTitle {
  color: white;
  font-family: cinzel;
  font-size: 12vw;
  margin-top: -20%;
  margin-left: 1%;
  margin-bottom: 0%;
}

.fleetDiv {
  width: 90%;
  height: auto;
  margin-left: 1%;
  background-color: #E1E1E1;
  padding-left: 1%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1vw solid white;
  box-shadow: 0vw 0vw 0vw 0vw rgb(229, 229, 229);
}

.fleetDiv2 {
  background-color: #E1E1E1;
  height: 0;
  width: 106%;
  margin-left: -0.9%;
  margin-top: 4.3%;
  padding-bottom: 822%;
  border: solid black 0;
}

.vehicleTitle {
  text-align: center;
  font-family: cinzel;
  text-decoration: underline;
  margin-bottom: -1%;
  font-size: 5vw;
}

.photoSpace {
  width: 102%;
  margin-top: 1%;
  margin-left: -1%;
  margin-right: 3%;
  margin-bottom: 1%;
  float: left;
  border: 0.2vw solid black;
}

.vehicleDescription {
  background-color: white;
  width: 91.8%;
  float: left;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.vehicles {
  letter-spacing: 0.1vw;
  font-family: Josefin sans;
  font-size: 5.5vw;
  margin-top: 2%;
  margin-bottom: 2%;
}

/*END OF FLEET CSS*/
/*SERVICES */

.fleetDiv3 {
  background-color: #C5C5C5;
  height: 0;
  width: 106%;
  margin-left: -0.9%;
  margin-top: 2.3%;
  padding-bottom: 475%;
}

.serviceTitle {
  text-align: center;
  font-family: cinzel;
  font-size: 8vw;
}
.pricing {
  text-align: center;
  font-family: archivo narrow;
  font-size: 4.5vw;
  margin-top: 0.7%;
  font-style: italic;
  margin-bottom: -0.3%;
}

.serviceDiv {
  background-color: #F9F9F9;
  width: 92%;
  margin-left: 1.4%;
  padding-top: 0.5%;
  padding-left: 2.5%;
  padding-bottom: 0.1%;
  padding-right: 2.5%;
  border: .1vw solid black;
}

.type {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0%;
  margin-top: 1%;
  font-family: teko;
  text-align: center;
  font-size: 7vw;
}

.stock {
  width: 100%;
  margin-bottom: 3%;
  margin-top: 210%;
}

.contactImg {
  width: 100%;
  display: none;
}

.blackDiv2 {
  width: 96%;
  height: 0;
  padding-bottom: 42%;
  background-color: rgba(0, 0, 0, 0.84);
  margin-top: -44.3%;
  position: absolute;
  margin-left: 0%;
  border: 2vw solid black;
}

.testHide {
  color: #C5C5C5;
  margin-bottom: 45%;
  margin-top: -49%;
  margin-left: 19.3%;
  font-family: josefin sans;
  font-size: 4.4vw;
}

.contacth2 {
  color: #000000;
  font-size: 10vw;
  margin-left: 39.7%;
  margin-right: 2%;
  margin-top: 5%;
  margin-bottom: -4%;
  font-family: teko;
  float: left;
}

.brace {
  width: 40.5%;
  margin-top: 1.6%;
  margin-left: -21%;
  float: left;
  display: none;
}

.contactDiv {
  background-color: rgba(255, 255, 255, 0.4);
  width: 92%;
  margin-top: 1.5%;
  margin-bottom: 20%;
  margin-left: 4%;
  border: 0.9vw solid gray;
}

.phone {
  width: 93%;
  padding-top: 3%;
  padding-left: 0%;
}

.phone2 {
  margin-left: 23%;
  margin-top: -15.7%;
  font-size: 4.9vw;
  margin-bottom: 3%;
  font-family: josefin sans;
  color: blue;
}

.mail {
  width: 93%;
  padding-top: 11%;
  padding-left: 0%;
}

.mail2 {
  margin-left: 22%;
  margin-top: -12.3%;
  font-size: 4.9vw;
  font-family: josefin sans;
}

.mailLink{
  text-decoration: none;
  color: blue;
}

.mailLink:hover{
  color: white;
}

.facebook {
  width: 93%;
  padding-top: 13%;
  padding-left: 0%;
}

#facebook2 {
  margin-left: 17.8%;
  margin-top: -14.2%;
  font-size: 4.9vw;
  font-family: josefin sans;
  padding-bottom: 2.5%;
}

#footerImage {
  width: 53%;
  margin-top: 53%;
  margin-bottom: 1%;
  margin-left: 22%;
}

}